[submodule "pgjwt"]
	path = lib/pgjwt
	url = https://github.com/michelp/pgjwt
[submodule "lib/plpgsql_check"]
	path = lib/plpgsql_check
	url = https://github.com/okbob/plpgsql_check
[submodule "lib/pgtap"]
	path = lib/pgtap
	url = https://github.com/theory/pgtap
[submodule "lib/scenebuilder"]
	path = lib/scenebuilder
	url = https://github.com/gluonhq/scenebuilder
